/* Mobile & Tablet */
@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }

    .app__header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
    }

    .header__cart-container {
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 100%;
        padding: 0 calc((100% - 644px) / 2);
    }

    .header__cart-container::before {
        display: none;
    }

    .header__cart-item-name {
        max-width: 320px;
    }

    .header__sort-bar {
        display: flex;
    }

    .app__container {
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
    }

    .app__content {
        padding-top: 8px;
    }

    .mobile-category {
        display: block;
    }

    .footer__ads {
        height: unset;
    }

    .footer__ad-item {
        display: block;
        text-align: center;
    }

    .footer-ad__item-img {
        margin: 0;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    :root {
        --header-height: 76px;
        --navbar-height: 0px;
    }

    .hide-on-tablet {
        display: none;
    }

    .header__cart {
        width: 72px;
        text-align: right;
    }
}

/* Mobile */
@media (max-width: 739px) {
    :root {
        --header-height: 55px;
        --navbar-height: 0px;
    }

    .hide-on-mobile {
        display: none;
    }

    .nav__bar-btn {
        display: block;
    }

    .header-with-search {
        justify-content: space-between;
    }

    .header__logo-img {
        width: 110px;
    }

    .header-search-history {
        position: fixed;
        width: 100%;
        left: 0;
        top: calc(var(--header-height) + var(--header-sort-bar-height));
        border-radius: unset;
        border-top: 1px solid #e8e8e8;
        box-shadow: 0 3px 4px 0 rgb(0 0 0 / 10%);
    }

    .header__cart, 
    .header__logo {
        width: unset;
    }

    .header__cart {
        margin-right: 16px;
    }

    .header__cart-icon {
        font-size: 2.2rem;
    }

    .header__cart-quantity {
        margin-left: -10px;
        margin-top: -4px;
        padding: 1px 4px 0;
        font-size: 1.2rem;
        line-height: 1.2rem;
    }

    .header__mobile-search {
        display: block;
    }

    .header__mobile-search-checkbox:checked ~ .header__mobile-searchbar {
        display: flex;
    }

    .app__content {
        margin: 0 4px;
    }

    .product__item {
        border: unset;
    }

    .pagination-item {
        margin: 0;
    }

    .pagination-item__link {
        --height: 28px;
        font-size: 1.7rem;
        min-width: 36px;
    }

    .pagination-item__icon {
        font-size: 1.4rem;
    }

    .footer__content {
        padding: 0 16px;
    }

    .footer__item-logo img {
        max-width: 39px;
    }

    @keyframes mobileSearchSideIn {
        from {
            opacity: 0;
            top: calc(var(--header-height) / 2);
        }
        to {
            opacity: 1;
            top: var(--header-height);
        }
    }
}
